.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}
table td.shrink {
	text-align:right;
    white-space:nowrap
}
table td.expand {
    width: 99%;
	padding-left:10px;
}
.overflow{
	overflow:hidden;
}
.icon{
	position:relative;
	height:80px;
	width:80px;
}
.ratio{
    position:relative;
    width: 80px;
    height: 0%;
    padding-bottom: 80px ; /* % of width, defines aspect ratio*/
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;  
}
